 .content-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.teaser-image {
    width: 1000px;
}

.biopic {
    width: 300px;
}

.navigation{
    background-color: aquamarine;
}

.blog-content p {
    background-color: #eee;
    padding: 16px;
} 

.blog-content h1 {
    background-color: darkgrey;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: fantasy;
}